@page "/profile"
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Profile</PageTitle>

<h1>Profile</h1>
<EditForm Model="@_user" FormName="login" OnSubmit="HandleRegister">
    <form>
        <div>
            <br />
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</EditForm>
<EditForm Model="@_user" FormName="register" OnSubmit="HandleLogin">
    <form>
        <div>
            <br />
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</EditForm>

@code {
    private User _user { get; set; } = new(string.Empty);

    private void HandleRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
    private void HandleLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
